<div class="footer" style="background-color:WHITE ; text-align: center; margin-top: 40px;">
  <hr>
  <div class="td">
      <p> MIỄN PHÍ VẬN CHUYỂN CHO ĐƠN HÀNG TRÊN 1.299.000</p>
      </div>
      <div class="kb">
          <div class="kb1">
              <p><b style="color: black; font-weight: 600   ;">HOTLINE : 0708-36-8686</b><br>
               manager&#64;Thangkakepzai.vn
                 <br> MONDAY TO SUNDAY 10:00 - 22:00</p>
          </div>
          <div class="kb2">
              <p>CUSTOMER SERVICE <br>
                <br>  PRIVACY POLICY</p>
          </div>
      </div>
      <hr>
      <h4>© 2024 DVRK®</h4>

</div>
